@model AIPProject01.Models.ViewModel.G3_Measure_GSR

@{
    ViewBag.Title = "身心健康與安全管理系統";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

<section>
    <div class="container">
        <div style="overflow:auto; border: 2px #ccc solid; padding: 10px">
            <header style="font-size:20px;">
                <div>
                    <table class="table">
                        <tr>
                            <th class="col-sm-1">皮膚導電值</th>
                            <th class="col-sm-1">皮膚電阻值</th>
                            <th class="col-sm-1">皮膚導電值電壓</th>
                            <th class="col-sm-1">量測時間</th>
                            <th class="col-sm-1">狀態</th>
                        </tr>
                        <tr>
                            <td class="active">
                                @Model.SkinConductance
                            </td>
                            <td class="info">
                                @Model.SkinResistance
                            </td>
                            <td class="warning">
                                @Model.SkinConductanceVoltage
                            </td>
                            <td class="active">
                                @Model.MeasurementDate
                            </td>
                            <td class="info">
                                @Model.Status
                            </td>
                        </tr>
                    </table>

                    <input type="button" value="繼續" onclick="GSRAgain()" />
                    <input type="button" value="返回" onclick="ReGSR()" />
                </div>
            </header>
        </div>
    </div>
</section>
