@model List<AIPProject01.Models.ViewModel.G3_SystemAdministrator_HealthLink>
@{
    ViewBag.Title = "身心健康與安全管理系統";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            @*<p>
                    To learn more about ASP.NET MVC visit
                    <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                    The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                    If you have any questions about ASP.NET MVC visit
                    <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
                </p>*@
            <p>
            </p>
        </div>
    </section>
}

<div class="container">
    <div class="table-responsive" style="overflow:auto; height: 650px; border: 2px #ccc solid; padding: 10px">
        <header style="font-size:20px;">
            <div>
                <input type="button" value="新增連結" style="font-size:20px; width:30%; margin:15px" onclick="AddInternetSite()" />
            </div>
            @{
                if (@Model != null)
                {
                    <h3>各大醫院衛教文章連結</h3>
                        <table class="table">
                            <tr>
                                <th class="col-sm-1">連結名稱</th>
                                <th class="col-sm-1">新增者</th>
                                <th class="col-sm-1">新增時間</th>
                                <th class="col-sm-1">管理功能</th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="active">
                                        <a href="@item.Content">@item.Title</a>
                                    </td>
                                    <td class="info">
                                        @item.UserId
                                    </td>
                                    <td class="warning">
                                        @item.Date
                                    </td>
                                    <td class="success">
                                        <a href="@Url.Action("Edit", "SystemAdministrator", new { Id = item.Id })" class="btn btn-primary" style="color:white;">
                                            編輯
                                        </a>
                                        <a href="@Url.Action("Delete", "SystemAdministrator", new { Id = item.Id })" class="btn btn-primary" style="color:white;">
                                            刪除
                                        </a>
                                    </td>
                                </tr>
                            }
                        </table>
                }
                else
                {
                    <h3>系統發生錯誤，請管理員盡速處理</h3>
                }
            } 
        </header>
    </div>
</div>
